<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shopping Basket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="row">
        <nav class="navbar navbar-light bg-light col-12 py-3">
            <a href="/" class="btn btn-outline-primary position-relative my-2 my-sm-0">Back to the store</a>
            <form th:action="@{/basket/removeall}" method="post">
                <input class="btn btn-outline-primary" type="submit" value="Empty the basket"/>
            </form>
        </nav>
    </div>

    <div class="row">
        <div th:switch="${shoppingBasket.size()}" class="col-md-12">
            <h2 class="my-5" th:case="0">Your cart is empty!</h2>
            <div th:case="*">
                <h2 class="my-5">The products you have chosen:</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Full Price</th>
                        <th>Price After Discount</th>
                        <th>Remove</th>
                        <th>Remarks</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:each="product : ${shoppingBasket}">
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.price}+'$'"></td>
                        <td th:text="${product.price - product.price*product.discount/100}+'$'"></td>
                        <td>
                            <form action="#" th:action="@{/basket/remove}" th:object="${produc}" method="post">
                                <input type="hidden" name="id" th:value="${product.id}">
                                <input class="btn btn-primary" type="submit" value="Remove from basket"/>
                            </form>
                        </td>
                        <td><span th:if="${product.quantity} == 0"
                                  th:class="text-danger"> <h4>out of stock! </h4></span>
                        <td>
                    </tr>
                    </tbody>
                </table>
                <h3 th:text="'Total price: '+${totalPrice}+'$'"></h3>
                <form th:action="@{/basket/payment}" method="post">
                    <input class="btn btn-outline-primary my-2" type="submit" value="Payment"/>
                </form>
            </div>
            <h4 th:text="${basketMessage}"></h4>
        </div>
    </div>
</div>
</body>
</html>